@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  font-family: "Manrope", sans-serif;
  color: #959595;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.875rem;
  letter-spacing: -0.03125rem;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 78.125rem;
  margin-inline: auto;
  padding-inline: 6rem;
}

a {
  color: #dedede;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 1.125rem;
  background-color: #9d9d9d;
  border-radius: 0.25rem;
  gap: 1rem;
}
.btn::before {
  content: "";
  background: url("../images/mail.svg") no-repeat center/contain;
  width: 1.3125rem;
  height: 1rem;
  color: #fff;
}

h2 {
  font-weight: bold;
  font-size: 2.25rem;
  color: #dedede;
}

.header {
  background-color: #323232;
  padding-block: 1.25rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  font-weight: 800;
  font-size: 1.25rem;
}
.header__nav {
  display: flex;
  gap: 3.75rem;
}
.header__link {
  font-weight: 700;
  font-size: 1.125rem;
}

.main {
  margin-top: 8.0625rem;
}
.main .welcome .container {
  display: flex;
  justify-content: space-between;
}
.main .welcome__desc {
  margin-top: 1.9375rem;
}
.main .welcome__title {
  width: 31.25rem;
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 1.19;
  color: #dedede;
  margin-bottom: 1.5rem;
}
.main .welcome__text {
  width: 24.6875rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 5.5rem;
}
.main .welcome__img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin-right: 6.625rem;
}

.works {
  margin-top: 8.9375rem;
}
.works .works__btn {
  display: inline-flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0;
  margin-bottom: 5.75rem;
  border: none;
  color: #959595;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.works__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5625rem;
  padding-top: 6.25rem;
}

.work {
  height: 31.25rem;
  position: relative;
}
.work:nth-child(odd) {
  margin-top: -6.25rem;
}
.work:hover {
  opacity: 1;
}
.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.work__name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.work:hover .work__name {
  opacity: 1;
}

.explorations {
  text-align: center;
}
.explorations__title {
  margin: 15rem auto 4.0625rem;
}
.explorations__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.explorations__img {
  width: 25rem;
  height: 25rem;
  border-radius: 0.25rem;
  object-fit: cover;
}

.projects {
  text-align: center;
}
.projects__title {
  margin-top: 15rem;
  margin-bottom: 4.125rem;
}
.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.projects__img {
  width: 25rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.contact-me {
  margin-top: 15rem;
}
.contact-me .container {
  text-align: center;
}
.contact-me__title {
  margin-bottom: 1.5rem;
}
.contact-me__desc {
  width: 32.5rem;
  margin-inline: auto;
  margin-bottom: 3rem;
  line-height: 2.375rem;
}

/*# sourceMappingURL=style.css.map */
