@use "functions" as *;
@use "variables" as *;

.contact-me {
  margin-top: rem(240);

  .container {
    max-width: rem(520);
    text-align: center;
  }
  
  &__desc {
    margin-top: rem(24);
    margin-inline: auto;
    margin-bottom: rem(48);
    line-height: rem(38);
  }
}
