@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

.explorations {
  margin-top: rem(240);
  text-align: center;

  &__wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: rem(24);
    margin-top: rem(65);
  }

  &__img {
    width: rem(400);
    height: rem(400);
    border-radius: rem(4);
    object-fit: cover;
    object-position: center;
  }

  @include respond(tablet) {
    &__wrapper {
      gap: rem(16);
    }

    &__img {
      width: rem(350);
      height: rem(350);
    }
  }
}
