@use "functions" as *;
@use "variables" as *;

body {
  font-family: $main-font;
  color: $main-color;

  font-weight: 600;
  font-size: rem(26);
  line-height: rem(30);
  letter-spacing: rem(-0.5);

  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: rem(1250);
  margin-inline: auto;
  padding-inline: rem(96);
}

a {
  color: $header-link-color;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: rem(16) rem(48);

  font-size: rem(18);
  background-color: #9d9d9d;
  border-radius: rem(4);
  gap: rem(16);

  &::before {
    content: "";
    background: url("../images/mail.svg") no-repeat center / contain;
    width: rem(21);
    height: rem(16);
    color: #fff;
  }
}
