@use "variables" as *;
@use "functions" as *;


.projects {
  margin-top: rem(240);
  text-align: center;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(24);
    margin-top: rem(66);
  }
  
  &__img {
    width: rem(400);
    height: rem(560);
    object-fit: cover;
    border-radius: rem(4);
  }
}